.indumentaria{
    background-color:#30343f;
    
}

.titulo__Indumentaria{
    background-color: #35373f;
    display: grid;
    justify-content: center;
}
.imagen__Indumentaria{
    block-size: 50rem;
    border-style: inset;
    border-width: 2rem;
    border-color: #e9d3d0 ;
    cursor:pointer;
    border-radius: 2rem;
}
.h2__indumentaria{
    color:#e9d3d0;
    background-color:#30343f;
}