.titulo__Trabajo{
    background-color: #30343f;
}

.parrafo__Trabajo{
    background-color: #e9d3d0;
    display: grid;
    grid-template-columns: 50rem 130rem;

}
.subtitulo__Trabajo{
    color: #ffd3da;
    font-size: 3rem;
    background-color: #30343f;
    border-radius: 3rem;
    text-align: center;

}
.h3__Trabajo{
    color: #ffd3da;
    background-color:#30343f;
    border-radius: 1rem;
    font-size: 3rem;
}

.formulario__Trabajo{ 
    background-color:#6c6d70;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    height: 30rem;
    margin: 5rem 100rem 5rem 4rem;
    border-radius: 1rem;
    align-items:stretch;
    transform: translate(45rem, 0rem);
}