$grisPanda:#30343f;
$color:(
    color1:pink,
    color2: red,
    color3: yellow,
);

@for $indumentaria__h2 from 1 to 4 {
    .subtitulo__Indumentaria__main-#{$indumentaria__h2} {
        font-size: 20px * $indumentaria__h2;
    }
}

@each $color in blue,black,green{
    .#{$color}__background
    {
        background-color: $color;
        height: 50px;
    }
}

@each $key, $value in $color{
    .#{$value}-background{
        background-color: $value;
        height: 60px;
    }
}
